:root {
  --color-primary: #6741d9;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-dark: #212529;
  --color-background-light: #eeeeee;
  --color-text-light: #213547;
  --color-button-light: #f9f9f9;
  --color-button-dark: #343a40;

  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-text);
  background-color: var(--color-background-dark);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
}

main {
  flex: 1 1 auto;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary);
}

body {
  margin: 0;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loading {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-primary);
}
button:focus,
button:focus-visible {
  outline: 1px auto var(--color-primary);
}

.footer {
  background-color: var(--color-primary-light);
  margin-top: auto;
}

.copyright {
  color: var(--color-text-dark);
  text-align: center;
  padding: 2.5rem 4rem;
  margin: 0;
}

.search-container {
  margin-top: 0.625rem;
}

.search {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  height: 1.75rem;
  background-color: var(--color-primary-light);
  color: var(--color-text);
  border: none;
  transition: all 0.3s;
  grid-column: 1 / -1;
  grid-row: 2;
  width: calc(100% - 1.5rem);
  margin-top: 1.5rem;
}

.search::placeholder {
  color: var(--color-text);
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-top: 0.625rem;
}

.search-card {
  width: 7.5rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.search-card:hover {
  transform: scale(1.05);
}

.search-card img {
  width: 100%;
  border-radius: 0.375rem;
}

.logo .logo-link span[role="img"] {
  font-size: 2.2rem;
}

.logo {
  margin: 0;
  grid-column: 1 / 1;
  grid-row: 1;
}

.logo-link {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  line-height: 1.1;
}

.logo-link,
.logo-link:hover {
  color: var(--color-text);
}

.header {
  padding: 1.5rem 1.5rem 1.5rem 1rem;
  border-bottom: 1px solid var(--color-primary-light);
  background-color: var(--color-primary);
  position: sticky;
  top: 0;
  z-index: 2;
}

main.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem 1.75rem 3rem;
}

.movie-description {
  display: flex;
  gap: 2.5rem;
  padding: 1.25rem;
  max-width: 90rem;
  margin: 0 auto;
  margin-top: 2.875rem;
  height: 100dvh;
}

.movie-description {
  gap: 0.5rem;
  padding: 1.25rem;
  max-width: 90rem;
  margin: 0 auto;
  height: 100%;
  display: grid;
}

.poster-column {
  flex: 1;
  max-width: 21.875rem;
  justify-self: center;
}

.movie-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.search-results-container {
  padding: 2rem 1.75rem 5rem;
}

.details-column {
  flex: 2;
}

.movie-description img {
  width: 100%;
  border-radius: 0.5rem;
}

.movie-description h2 {
  font-size: 2rem;
  margin-bottom: 0.625rem;
}

.movie-description p {
  margin: 0.625rem 0;
}

.movie-description strong {
  font-weight: bold;
}

.movie-description h2 {
  font-size: 1.5rem;
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
}

section.header-content {
  align-items: center;
  justify-content: space-between;
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0 0.5rem;
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.5rem;
  grid-column: 3 / -1;
  grid-row: 1;
  justify-self: end;
}

.theme-toggle .emoji {
  pointer-events: none;
}

.genre-section {
  padding: 1.5rem 0;
  max-width: 120rem;
  margin: 0 auto;
}

.genre-section:not(:has(.genre-title)) {
  margin-top: 2.875rem;
}

.genre-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  max-width: calc(100dvw - 4.25rem);
}

.carousel-track::-webkit-scrollbar {
  display: none;
}

.movie-card {
  flex: 0 0 auto;
  cursor: pointer;
  transition: transform 0.2s;
  scroll-snap-align: end;
  width: 100%;
  max-width: 20.5rem;
}

.movie-card:hover {
  transform: scale(1.02);
}

.movie-card img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.arrow {
  background: rgba(0, 0, 0, 0.6);
  border: none;
  color: var(--color-background-light);
  font-size: 1.25rem;
  cursor: pointer;
  padding: 0.625rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}

.carousel-track {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.app {
  padding: 1.25rem;
  background-color: var(--color-background-dark);
  color: var(--color-background-light);
}

@media all and (min-width: 48rem) {
  section.header-content {
    grid-template-rows: 1fr;
  }

  .search {
    grid-row: 1;
    grid-column: 2 / 3;
    margin-top: 0;
    width: 100%;
  }

  .movie-description {
    grid-template-columns: 0.5fr 1fr;
    gap: 3rem;
  }

  .movie-description h2 {
    font-size: 1.5rem;
  }

  .poster-column {
    justify-self: end;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--color-text);
    background-color: var(--color-background-dark);
  }
  a:hover {
    color: var(--color-primary-light);
  }
  button {
    background-color: var(--color-button-dark);
    color: var(--color-text-light);
  }

  .theme-toggle.dark {
    background-color: var(--color-button-dark);
    color: var(--color-background-light);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-text-light);
    background-color: var(--color-background-light);
  }
  a:hover {
    color: var(--color-primary-light);
  }
  button {
    background-color: var(--color-button-light);
  }

  .theme-toggle.light {
    background-color: var(--color-button-light);
    color: var(--color-button-dark);
  }
}

@media all and (min-width: 69rem) {
  .movie-cards-container {
    justify-content: start;
  }
}

[data-theme="dark"] {
  color: var(--color-text);
  background-color: var(--color-background-dark);
}

[data-theme="dark"] button {
  background-color: var(--color-button-dark);
  color: var(--color-text-dark);
}

[data-theme="light"] {
  color: var(--color-text-light);
  background-color: var(--color-background-light);
}

[data-theme="light"] button {
  background-color: var(--color-button-light);
  border: 1px solid var(--color-button-dark);
}

[data-theme="light"] .arrow.right,
[data-theme="light"] .arrow.left {
  color: var(--color-text-light);
}
